<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>
        {% block body %}
            {# Import menu and footer #}
            {% block menu %}
                {% include 'templates/_partials/menu.html.twig' %}
            {% endblock %}
            {% block footer %}
                {% include 'templates/_partials/footer.html.twig' %}
            {% endblock %}
        {% endblock %}
    </body>
</html>
