{% extends '/_partials/base.html.twig' %}
{% block menu %}
    <div id="menu">
        <ul>
            <li><a href="{{ path('article_list') }}">Home</a></li>
            <li><a href="{{ path('article_single') }}"></a></li>
        </ul>
    </div>
{% endblock %}