{% extends '/_partials/base.html.twig' %}

{% block title %} Articles {% endblock %}

{% block body %}

    {# include menu #}
    {% include '_partials/menu.html.twig' %}

    {% for article in articles %}
        <div class='container_articles'>
            <h2>{{article["title"]}}</h2>
            <div>
                <img src='{{article["image"] }}' alt='Image'>
            </div>
            <p>{{article["description"]}}</p>
            <a href='./article/{{ loop.index - 1 }}'>Lire l'article</a>
        </div>
    {% endfor %}

{% endblock %}