{% extends '/_partials/base.html.twig' %}

{% block title %} A la une {% endblock %}

{% block body %}
    {# include menu #}
    {% include '_partials/menu.html.twig' %}

    {# Here recent articles max 10 #}
    {% if article == {{ new1Service }} %}
        <div class="articleRecent">
            {% for article in articles %}
             <a href="{{ path('article_recentArticles', {slug: article.slug}) }}">
                {{ article.getName() }}<br/>
                {{ article.getContent() }}<br/>
             </a>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}



