{% extends '/_partials/base.html.twig' %}

{% block title %} Article {% endblock %}
{% block body %}
    {# include menu #}
    {% include '_partials/menu.html.twig' %}

    <div class="articles-recent">
        <div>
            <h3>Super article</h3>
            <div>
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam commodi cumque dignissimos distinctio
                    doloribus eveniet explicabo omnis, optio possimus quas quis rem rerum similique sint, soluta? Cum
                    debitis eligendi enim.
                </div>
            </div>
        </div>
    </div>
{% endblock %}

